/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic Layout */
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0 20%;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size:30px;
}
h3 {
    font-size: 20px;
}
nav a {
    font-size:20px;
}
p {
    font-size:16px;
    line-height: 1.5em;
}
dl {
    width:50%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
}
dt {
    font-size:16px;
    width: max-content;
    font-weight: 700;
}
dd {
    font-size: 16px;
}
.hamburger {
    position: absolute;
    top:0;
    z-index:1;
}
.hamburger svg, .hamburger img {
    width: 10%;
}
menu {
    color: #EB5428;
}
menu li, #social li { 
    display: inline-block;
    font-size: 20px;
}
li a {
    text-decoration: none;
    color: #EB5428;
    font-family: 'Bebas Neue', cursive;
}
ol {
    padding-left: 30px;
}
.search {
    border:#EB5428 solid 3px;
    width: 350px;
    height: 50px;
}
.search h3 {
    visibility: hidden;
}
#lrgTacos {
    width:100%;
}
.intro {
    padding-left: 10px;
}
#ingredients {
    margin-left: 30px;
    margin-top: 15px;
}
#ingredients li {
    list-style: square;
    line-height: 2em;
    display: flexbox;
}
#dishes {
    background-color: #7ABFBF;
}
#dishes section {
    display: flex;
    padding-bottom: 30px;
}
#social h2, #social h3 {
    visibility: hidden;
    height:0;
    width:0;
}
footer {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size:20px;
}
footer img {
    padding-bottom:20px;
    width: 50%;
}

/*Small screen*/
@media screen and (min-width:414px) {
    body {
        width: 414px;
        margin: 0 auto;
    }
    header {
        margin-top: 59px;
        padding-bottom: 20px;
    }
    nav {
        width: 414px;
        position: absolute;
        top: 0;
        z-index:1;
    }
    nav ul {
        text-align: center;
    }
    .hamburger h2 {
        visibility: hidden;
        height: 1px;
    }
    .hamburger ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    li a {
        display: inline;
        padding: 20px 20px;
        text-decoration: none;
    }
    [href="#home"] {
        position: absolute;
        top: 0;
        left: 90px;
        padding: 16px 16px;
    }
    a:hover, input:hover {
        background-color: #EB5428;
        color:#fff;
    }
    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }
    .icon-tabler:hover {
        fill:#fff;
        background-color:#EB5428
    }
    .steps {
        margin-bottom: 20px;
    }
    #details dl {
        margin-left: 10px;
    }
    #dishes {
        padding-left: 10px;
        height:min-content;
    }
    #dishes img {
        width: 25%;
        height: 25%;
    }
    .dishgrid h3 {
        font-weight: 700;
    }
    .dishgrid h3, .dishgrid p {
        text-align: left;
        line-height: .25em;
    }
    .dishgrid {
        width:100%;
        padding-left: 20px;
        display:grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #social ul{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 30px;
    }
    #social a{
        text-align: center;
    }
}

/*Medium screen*/
@media screen and (min-width:768px) {
    body {
        width: 768px;
    }
    .hamburger {
        width:768px;
        background-color: #fff;
    }
    .hamburger nav {
        width:100%;
    }
    .hamburger ul {
        overflow:visible;
    }
    .hamburger ul li {
        display: inline;
    }
    .meals {
        display:grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .hamburger svg {
        position:absolute;
    }
    .hamburger img {
        width:40%;
    }
    menu {
        background-color: rgba(242, 242, 242, 0.7);
        position:relative;
        top: 75px;
        width: 768px;
        height: 75px;
    }
    menu li {
        padding-top: 15px;
    }
    #details dl {
        margin:auto;
    }
    .steps {
        display:grid;
        width:100%;
        grid-template-columns: 1.5fr 3fr;
    }
    .steps #directions {
        margin-top:15px;
        margin-right:20px;
    }
    .dishcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    #dishes img {
        width: 50%;
        height:50%;
    }
    .dishgrid p {
        line-height: 1em;
    }
    .maincourses {
        display: flex;
    }
    #social {
        right: 200px;
    }
    footer {
        position:relative;
    }
}

/*Large screen*/
@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }
    .hamburger {
        width: 1280px;
    }
    .landing {
        display: grid;
        width:100%;
        grid-template-columns: 1fr 4fr 5fr;
    }
    .intro {
        padding-left: 10px;
    }
    menu {
        background-color: #fff;
        position: absolute;
        width:10%;
        height:100%;
        border:#EB5428 solid 3px;
    }
    menu li {
        display: flex;
    }
    #lrgTacos {
        width: 100%;
    }
    #details {
        background-color: #000;
        color: #7ABFBF;
        width: 1280px;
    }
    dl {
        grid-template-columns: repeat(5, 1fr);
    }
    .dishcontainer {
        grid-template-columns: repeat(4, 1fr);
    }
    #dishes img {
        width: 70%;
        height: 70%;
    }
    .dishgrid {
        grid-template-rows: repeat(3, 1fr);
    }
}